
/* For Mobile */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

:root{
    --primary-color: rgb(219, 80, 80);
    --nav-color: #fad350;
    --nav-text-color: black;
}

li{
    list-style-type: none;
}


#mainnav{
    display: flex;
    position: fixed;
    padding: 5px 0px;
    width: -webkit-fill-available;
    align-items: center;
    background-color: var(--nav-color);
    z-index: 1;
}

#mainnav div{
    margin: auto;
}

#menu{
    display: none;
}

.myname{
    font-family:  'Lobster', cursive;
    font-size: 5vw;
}

/* ******************************************************************* */
    
.social_media a{
    display: inline-block;
    margin: 0rem 1rem
}

.social_media i{
    font-size: 4vw;
    color: black;
}

.social_media a:hover{
    transform: scale(1.4);
    transition-duration: 0.4s;
}

/* ******************************************************************* */

footer{
    background-color: var(--nav-color);
    text-align: center;
}

footer p{
    margin: 0;
}

@media only screen and (min-width: 600px){
    .myname{
        font-size: 28px;
    }

    .social_media i{
        font-size: 1.4rem;
    }

    #menu{
        margin: auto;
        width: 25rem;
        display: flex;
    }
    
    .nav{
        padding: 2px 10px;
        margin: auto;
        list-style-type:none;
        /* background-color: #303030 */
    }
    .nav a{
        color: var(--nav-text-color);
        position: relative;
        /* background-color: #303030; */
        text-decoration: none;
        font-family: 'Share Tech', sans-serif;
        font-weight: 600;
        cursor: pointer;
        /* text-shadow: 1px 2px 1px aliceblue; */
    }
    
    .nav a:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--primary-color);
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
    
    .nav a:hover:before {
        visibility: visible;
        width: 100%;
      }
    
    /* search bar */
    #search{
        align-self: flex-end;
        justify-self: center;
        /* border-radius: 30px; */
        width: 150px;
        height: 21px;
        background-color: transparent;
        border: none;
        color: white;
        border-bottom: 1px solid var(--primary-color);
        margin-right: 10px;
        padding-left: 8px;
        font-size: 14px;
        visibility: hidden;
    }
    
    /* #search:before {
        content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      right: 0;
      background-color: var(--primary-color);
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    } */
    
    #search:focus {
        outline:none !important;
    }
    
    #search_btn:hover + #search{
        visibility: visible;
        /* width: 100%; */
    }
    
    #mainnav button{
        background-color: transparent;
        border-radius: 50%;
    }
    
    #search_btn{
        max-width: 20px;
        cursor: pointer;
    }
    
}